.intro-content {
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text h2 {
    font-size: 8rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img,
.intro-img svg {
    max-width: 100%;
    min-height: auto;
}

div.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 6rem;
    padding-bottom: 4rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7.5rem;
    font-style: italic;
    top: -4rem;
    left: 0;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 360rem;
    max-height: 360rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(4deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    display: flex;
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: 0 var(--gap) 15rem var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.5rem rgb(118, 46, 250);
}

.form-group button {
    border: solid 0.5rem var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-grey-color);
}

.footer {
    text-align: center;
    font-size: 1.8rem;

}

.footer a {
    color: #444;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.links-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.logo-correction {
    padding-top: 0.4rem;
    padding-left:1rem ;
}

@media (max-width:80rem) {
    p {
        font-size: 4rem;
    }
    .section {
        min-width: 100vh;
    }
    
    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: auto;
        overflow: hidden;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 101;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white);
        font-size: 4rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 3rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    /*×*/
    .close-menu:checked~.close-menu-label::after {
        content: '×';

    }
    .back-to-top {
        width: 10rem;
        height: 10rem;
        font-size: 4rem;
    }

    .menu-spacing {
        display: none;
    }
}